<div class="player" fxLayout="row" fxLayoutGap="5px">
  <div fxFlex="" class="cover">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Artist</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/img/defaultAlbum.png" width="300px">
    </mat-card>
  </div>
  <div fxFlex="" class="queue">
    <mat-list dense>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
          <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <p mat-line>Title</p>
        <p mat-line><small> Artist </small></p>
        <p>
          <small>3:33</small>
        </p>
        <mat-icon>more_vert</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>
</div>
