<mat-list dense cdkDrop>
  <mat-list-item *ngFor="let song of songs; let i = index;" cdkDrag>
    <mat-icon mat-list-icon (click)="playSong(song)">{{isCurrentSong(song) ? "play_arrow" : "queue_music"}}</mat-icon>
    <p mat-line (click)="playSong(song)">{{song.title}}</p>
    <p mat-line (click)="playSong(song)">
      <small> {{song.artist?.name}} </small>
    </p>
    <p>
      <small (click)="playSong(song)">{{song.duration | duration}}</small>
    </p>
    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{'index': i, 'song': song}">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent  let-index="index">
    <button mat-menu-item (click)="playIndex(index)">
      <mat-icon>play_arrow</mat-icon>
      <span>Play</span>
    </button>
    <button mat-menu-item (click)="deleteIndex(index)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
