<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Songfiles with problems while importing ({{sync?.new_songs_problems}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let entry of sync?.problem_songs | keyvalue">
        <p><small>{{entry.key}} - {{entry.value}}</small></p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Songs not found in filesystem ({{sync?.dangling_songs_found}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let entry of sync?.dangling_songs | keyvalue">
        <mat-icon mat-list-icon (click)="removeDanglingSong(entry.key)">delete</mat-icon>
        <p mat-line><small>{{entry.value}}</small></p>
      </mat-list-item>
    </mat-list>
    <mat-action-row>
      <button mat-button (click)="removeAllDanglingSongs()">
        <mat-icon>delete</mat-icon>
        Remove all
      </button>
      <button mat-button (click)="startSync()">
        <mat-icon>sync</mat-icon>
        Syncronize now
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Albums without any song ({{emptyAlbumsCount()}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let entry of sync?.empty_albums | keyvalue">
        <p mat-line><small>{{entry.value}}</small></p>
      </mat-list-item>
    </mat-list>
    <mat-action-row>
      <button mat-button (click)="removeAllEmptyAlbums()">
        <mat-icon>delete</mat-icon>
        Remove all
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Albums without title ({{albumsWithoutTitleCount()}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let entry of sync?.albums_without_title | keyvalue">
        <mat-icon mat-list-icon (click)="renameAlbum(entry.key)">build</mat-icon>
        <p mat-line><small>{{entry.value}}</small></p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Artists without name ({{artistsWithoutNameCount()}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let entry of sync?.artists_without_name | keyvalue">
        <p><small>{{entry.key}}</small></p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
