mat-card {
  width: 100%;
  margin: 5px 5px 5px 5px;
}

mat-list-item.multi {
  cursor: pointer;
  height: 2.75em!important;
}

mat-list-item.single {
  cursor: pointer;
  height: 1.25em!important;
}

p.mat-line {
  width: 60%;
}

:host /deep/ .mat-list-item-content {
  padding: 0!important;
}
