<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recently added songs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="multi" *ngFor="let song of info?.songsRecentlyAdded" (click)="playSong(song)">
            <img matListAvatar [src]="coverUrlForSong(song)">
            <p mat-line>{{song.title}}</p>
            <p mat-line><small>{{song.artist?.name}}</small></p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recently added albums</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="multi" *ngFor="let album of info?.albumsRecentlyAdded" (click)="goto('/song/album/' + album.albumId)">
            <img matListAvatar [src]="coverUrlForAlbum(album)">
            <p mat-line>{{album.title}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recently played songs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="multi" *ngFor="let song of info?.songsRecentlyPlayed" (click)="playSong(song)">
            <img matListAvatar [src]="coverUrlForSong(song)">
            <p mat-line>{{song.title}}</p>
            <p mat-line><small>{{song.artist?.name}}</small></p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Most played songs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="multi" *ngFor="let song of info?.songsMostPlayed" (click)="playSong(song)">
            <img matListAvatar [src]="coverUrlForSong(song)">
            <p mat-line>{{song.title}}</p>
            <p mat-line><small>{{song.artist?.name}}</small></p>
            <p>{{song.playCount}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="single">
            <p mat-line>Songs in library</p>
            <p>{{info?.songCount}} ({{info?.totalLength | duration}} total)</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Albums in library</p>
            <p>{{info?.albumCount}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Artists in library</p>
            <p>{{info?.artistCount}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Playlists in library</p>
            <p>{{info?.playlistCount}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Users</p>
            <p>{{info?.userCount}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line></p>
            <p></p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line></p>
            <p></p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="isAdmin()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sync state</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item class="single">
            <p mat-line>Sync state</p>
            <p>{{sync?.state}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Last sync</p>
            <p>{{sync?.last_sync_started * 1000 | unixdate | date: 'short'}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Last sync duration</p>
            <p>{{sync?.last_sync_duration | duration}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Songs found</p>
            <p>{{sync?.songs_found}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Songs added</p>
            <p>{{sync?.new_songs_added}}</p>
          </mat-list-item>
          <mat-list-item class="single">
            <p mat-line>Not added</p>
            <p>{{sync?.new_songs_problems}}</p>
          </mat-list-item>
          <mat-list-item class="single" >
            <p mat-line>Dangling songs</p>
            <p>{{sync?.dangling_songs_found}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
