<div class="decades">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let decade of decades" (opened)="getYears(decade.name)">
      <mat-expansion-panel-header>{{decade.name}} ({{decade.count}} songs)</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ul>
          <li *ngFor="let year of decadeMap[decade.name]"><a (click)="gotoSongs(year.name)">{{year.name}} ({{year.count}} songs)</a></li>
        </ul>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
